.Card {
  text-align: left;
  padding: 20px;
}

.bio {
  margin-left: 20px;
}

.repHeader {
  margin-top: 0px;
  font-weight: bold;
}

.source {
  color: gray;
  margin-bottom: 3px;
  margin-top: 25px;
}

.link {
  color: crimson;
  text-decoration: none;
  word-wrap: break-word;

}

.link:hover {
  color: crimson;
  text-decoration: underline;
}

.image {
  width: 100%;
}

.legislatorName {
  display: flex;
}

.quoteSymbol {
  /*<span style="font-size:150px;line-height:0.6em;opacity:0.2">❝</span>*/
  font-size: 1.2em;
  opacity: 0.7;
}

.nameParty {
  align-content: center;
  margin-top: -15px;
}

.quoteParagraph {
  margin-top: -15px;
}

.repDescription {
  margin-top: -20px;
  margin-bottom: 15px;
  color: gray;
  font-weight: normal;
}

.keyPlayerQuote {
  margin-top: 5px;
}
