.tableContainer {
	margin: 0 auto;
	margin-top: -125px;
}

.tableContainer h3 {
	padding-right: 20px;
}

.demVotes, .republicanVotes {
	font-weight: bold;
	padding-right: 10px; 
}

.demVotes {
	color: #5159FF;
}

.republicanVotes {
	color: #FF5953;
}

table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
}
		
td, th {  
	border: 0 none; height: 30px; 
}

th {
	color: #000; 
	font-weight: bold;
	height: 40px;
}
		
td { 
	text-align: center; 
}

/* Zebra Stripe Rows */
		
tr {
	background-color: transparent;
	border-bottom: 2px solid black;
}

td[aria-label="Senate"] {
	border-bottom: none;
}

/* First-child blank cells! */
tr td:first-child, tr th:first-child { 
	background: none; 
	font-weight: bold;
	font-size: 14px;
	text-align: right;
	padding-right: 10px;
	width: 80px; 
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
  border-radius: 3px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 3px 0 0; 
}