.stateReps {
  font-family: "Aleo";
}

.stanceTitle {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.stanceFillers {
  text-align: center;

}

.stanceFillers:hover {
  cursor: pointer;
}

.dropDown {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1em;
  margin: 10px 0px;
  border: 1px solid #d9d9d9;
  height: 1.5em;
  background-color: #fff;
}


.republicans, .democrats {
  font-family: "Aleo";
}

.republicans {
  color: #870001;
  /*margin-bottom: 7px;*/
}

.democrats {
  color: 	#152F84;
}

.content {
  display: flex;
  justify-content: center;
}

.allContent {
  align-content: center;
  position: relative;
  margin-top: -15px;
}

.imageParty {
  width: 14px;
  height: 14px;
  align-self: center;
  padding-right: 4px;
  display: block;
}

@media only screen and (max-width: 767px) {
  h3.stanceTitle {
    font-size: 0.8em;
  }
  .allContent {
    font-size: 0.7em;
  }
  .content {
    justify-content: flex-start;
  }

}

.container-fluid {
  padding: 0;
}

.stateRepTable {
  padding-left: 7px;
  padding-right: 5px;
}
