.DataSection {
	text-align: center;
	display:block;
	font-family: "Aleo";
}

.stanceHeader {
  color: white;
  text-align: center;
  display: inline;
  padding: 12px 6px;
  margin-top: 50px;
  font-family: "Aleo";
  text-transform: uppercase;
}

.stanceHeader:hover {
  cursor: pointer;
  color: #cdcdcd;
}

.header {
  padding: 12px 0px;
  margin-bottom: 15px;
  width: 100%;
  background-color: #24292e;
  position: relative;
  text-align: center;
}

.tableData {
	height: 250px;
	margin-top: 50px;
	padding-left: 50px;
}

.table, .pieCharts {
	margin: 0 auto;
	padding-bottom: 100px;
}

/* STYLING FOR THE LEGEND */

.legendBlockDemocrat {
	margin-right: 20px;
}

.legend {
	display: inline-flex;
	width: 50%;
	left: 25%;
	margin-top: 20px;
	margin-left: 45px;
}

.redSq, .blueSq {
	height: 20px;
	width: 20px;
	border: 2px solid black;
	margin-right: 5px;
	margin-left: 5px;
}

.redSq p, .blueSq p {
	margin-right: 15px;
	padding-bottom: 10px;
	display: flex;
	position: relative;
	left: 10px;
}

.redSq {
	background-color: var(--red);
}

.blueSq {
	background-color: var(--blue);
}

.Charts {
	padding-left: 50px;
	margin-top: 30px;
}

.legendContainer {
	margin: 0 auto;
	display: flex;
}

.DataSectionHeader {
	font-family: "AleoItalic";
	font-size: 4em;
	text-align: center;
	margin-left: 25px;
	margin-bottom: 0px;
}


@media only screen and (max-width: 768px){

	.Charts {
		margin-top: 200px;
	}

	.table, .pieCharts {
		padding-bottom: 0px;

	}
}


