.Banner {
	height: 100vh;
	width: 100%;
	text-align: center
}

.titleBar {
	background-image: url("https://www.walldevil.com/wallpapers/a41/building-washington-national-capitol-backgrounds-wallpaper-wallpapers-travel-images.jpg");
	height: 100vh;
	width: 100%;
	opacity: .9;
}

.subtitle {
	color: white;
}

.title, .subtitle {
	text-align: left;
	margin-left: 25px;
}

.title {
	padding-top: 25px;
	color: var(--text-bright);
	font-size: 3rem;
	width: 60%;
	padding-top: 60vh;
}

.subtitle {
	font-size: 1rem;
}

@media only screen and (max-width: 768px){
	.title {
		font-size: 2rem;
		bottom: 45vh;
	}
}